---
import { getCollection, getEntry } from "astro:content";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";
import RecentPosts from "@/components/blog/RecentPosts.astro";
import PostHeader from "@/components/blog/PostHeader.astro";
import BlogCategories from "@/components/blog/BlogCategories.astro";
import AuthorProfile from "@/components/blog/AuthorProfile.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
const author = await getEntry(post.data.author);

const meta: MetaInfo = {
  pageTitle: `${post.data.title} | Blog Zunbeltz`,
  pageDescription: post.data.description,
  pageTags: post.data.categories,
  pageAuthor: author.data.name,
  pageImage: post.data.heroImage.src,
  pageUrl: `https://zunbeltz.org/blog/${post.slug}`,
  pageType: "article",
  articleAuthor: author.data.name,
  articlePublishedTime: post.data.publishDate.toISOString(),
  articleTags: post.data.categories,
};
---

<HtmlLayout metaInfo={meta}>
  <BlogLayout>
    <Breadcrumb />

    <!-- ! Indexado en pagefind -->
    <article class="article" data-pagefind-body>
      <!-- ! Metadatos para la indexación en pagefind -->
      <div class="pagefind-metadata">
        <span data-pagefind-filter="Tipo">Entrada de blog</span>
        <span data-pagefind-filter="Autor">{author.data.name}</span>
        <span data-pagefind-meta="title">{post.data.title}</span>
        <span data-pagefind-meta="image">{post.data.heroImage.src}</span>
        <span data-pagefind-meta="image_alt">{post.data.title}</span>
      </div>

      <div class="hero-image">
        <Image
          src={post.data.heroImage}
          alt={post.data.title}
          width={1200}
          height={400}
          quality={80}
        />
      </div>

      <PostHeader post={post} data-pagefind-ignore />

      <div class="markdown-content">
        <Content />
      </div>

      <AuthorProfile author={author} data-pagefind-ignore />
    </article>
  </BlogLayout>
</HtmlLayout>

<style>
  .article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .pagefind-metadata {
    display: none;
  }

  .hero-image {
    width: 100%;
    aspect-ratio: 16 / 5;
    overflow: hidden;
    background-color: var(--color-surface-300);
    border-radius: var(--radius-3xl);
    transition: scale 0.3s ease;
  }
  .hero-image:hover {
    scale: 1.02;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .markdown-content {
    font-family: var(--font-paragraph);
    color: var(--color-content-300);
    line-height: 1.8;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-border-100);
  }
</style>
