---
import type { Post } from "@/interfaces/blog/post";

interface Props {
  post: Post;
}

const { post } = Astro.props;

const formattedDate = post.publishedAt.toLocaleDateString("es-ES", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<header class="post-header">
  <h1 class="post-header-title title-1">{post.title}</h1>
  <p class="post-header-description paragraph">{post.description}</p>
  <div class="post-meta">
    <time class="post-meta-time" datetime={post.publishedAt.toISOString()}>
      {formattedDate}
    </time>
    <div class="post-categories">
      {
        post.categories.map((category) => (
          <a href={`/blog/categoria/${category.slug}`} class="chip secondary">
            {category.name}
          </a>
        ))
      }
    </div>
  </div>
</header>

<style>
  .post-header {
    border-bottom: 1px solid var(--color-border-200);
    padding-bottom: 1rem;
  }

  .post-header-title {
    margin-bottom: 1rem;
  }

  .post-header-description {
    margin-bottom: 1rem;
  }

  .post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .post-meta-time {
    color: var(--color-content-100);
    font-family: var(--font-paragraph);
    font-size: 0.875rem;
  }

  .post-categories {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
</style>
