---
import { getCollection, type CollectionEntry } from "astro:content";
import HtmlLayout from "@/layouts/HtmlLayout.astro";
import type { MetaInfo } from "@/components/SEO/MetaInfo";
import ImageGallery from "@/components/navarra/shared/ImageGallery.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";
import HeroSection from "@/components/navarra/shared/HeroSection.astro";
import CanyonProperties from "@/components/navarra/canyons/CanyonProperties.astro";
import RestrictionsCard from "@/components/navarra/shared/RestrictionsCard.astro";
import DescentGradingCard from "@/components/navarra/canyons/DescentGradingCard.astro";
import DescentProperties from "@/components/navarra/canyons/DescentProperties.astro";
import RecomendedMonthsCard from "@/components/navarra/shared/RecomendedMonthsCard.astro";
import LogisticCard from "@/components/navarra/shared/LogisticCard.astro";

export async function getStaticPaths() {
  const canyons = await getCollection("canyons");
  const canyonsDescents = await getCollection("canyoningDescents");
  return canyons.map((canyon) => {
    const relatedDescents = canyonsDescents.filter(
      (descent) => descent.data.canyon?.id === canyon.slug,
    );
    return {
      params: { slug: canyon.slug },
      props: { canyon, relatedDescents },
    };
  });
}

interface Props {
  canyon: CollectionEntry<"canyons">;
  relatedDescents: CollectionEntry<"canyoningDescents">[];
}

const { canyon, relatedDescents } = Astro.props;
const { Content: CanyonContent } = await canyon.render();

const meta: MetaInfo = {
  pageTitle: `${canyon.data.name} | Barrancos de Navarra | Zunbeltz`,
  pageDescription: canyon.data.description,
  pageTags: ["Barranco", "Navarra", "Barranquismo", "Canyoning"],
  pageUrl: `https://zunbeltz.org/navarra/rios/${canyon.slug}`,
};
---

<HtmlLayout metaInfo={meta}>
  <main>
    <article>
      <HeroSection
        title={canyon.data.name}
        description={canyon.data.description}
        photo={canyon.data.mainPhoto}
      />

      <div class="container">
        <Breadcrumb />
      </div>

      <div class="container">
        <div class="grid">
          <section class="main-column">
            <CanyonProperties canyon={canyon.data} />
            <div class="markdown-content">
              <CanyonContent />
            </div>
          </section>

          <aside class="side-column">
            <RestrictionsCard restrictions={canyon.data.restrictions} />
            {
              relatedDescents.length > 0 && (
                <>
                  <h4>Variantes:</h4>
                  {relatedDescents.map((descent) => {
                    return (
                      <a class="anchor" href={`#${descent.slug}`}>
                        {descent.data.name}
                      </a>
                    );
                  })}
                </>
              )
            }
          </aside>
        </div>

        <!-- Descents info -->
        {
          relatedDescents.map(async (descent) => {
            const { Content: ActivityContent } = await descent.render();
            return (
              <div>
                <hr class="content-separator" />
                <div class="grid">
                  <section id={descent.slug} class="main-column">
                    <DescentProperties descent={descent.data} />
                    <div class="markdown-content">
                      <ActivityContent />
                    </div>
                  </section>
                  <aside class="side-column">
                    <DescentGradingCard grading={descent.data.grading} />
                    <RecomendedMonthsCard
                      months={descent.data.recommendedMonths}
                    />
                    <LogisticCard
                      entryPoint={descent.data.entryPoint}
                      exitPoint={descent.data.exitPoint}
                      accessInfo={descent.data.accessInfo}
                      returnInfo={descent.data.returnInfo}
                    />
                  </aside>
                </div>
              </div>
            );
          })
        }
      </div>

      <!-- Multimedia Section -->
      <ImageGallery photos={canyon.data.additionalPhotos || []} />
    </article>
  </main>
</HtmlLayout>

<style>
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }

  .content-separator {
    margin: 1rem 0;
    border: none;
    border-top: 2px solid var(--color-border-100);
  }
  .main-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .side-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  /* Responsive */
  @media (max-width: 968px) {
    .grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .sidebar {
      order: -1;
    }

    .photo-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 768px) {
    .multimedia {
      padding: 3rem 0;
    }

    .multimedia-title {
      font-size: 1.5rem;
    }
  }
</style>
